
#game.closed {
    filter: blur(0.5rem);
    opacity: 0.5;
    pointer-events: none;
}

#game {
    user-select: none;
    user-zoom: none;
    -webkit-user-drag: none;

    display: flex;

    width: 100%;
    height: 100%;

    filter: none;

    overflow: hidden;

    transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#targets {
    position: relative;

    display: flex;

    width: 100%;
    height: 100%;

    overflow: hidden;
    
}

.target {
    position: absolute;

    width: 50px;
    height: 50px;

    background: #ff0c00;
    background: radial-gradient(circle,
        #ff0000 0%,
        #ff0000 14%,
        #ffffff 15%,
        #ffffff 29%,
        #ff0000 30%,
        #ff0000 44%,
        #ffffff 45%,
        #ffffff 59%,
        #ff0000 60%,
        #ff0000 74%,
        #ffffff 75%,
        #ffffff 90%
    );

    background-position: center;
    background-size: 50px 50px;

    border-radius: 50%;
}
#points, #timer {
    pointer-events: none;
    position: absolute;

    background-color: #fffe;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;

    font-size: 1rem;
    line-height: 1rem;
}
#points {
    top: 0.5rem;
    left: 0.5rem;
}

#timer {
    top: 0.5rem;
    right: 0.5rem;
}


#game.closed #progressbar {
    opacity: 0;

    transition: opacity 1s ease-in-out;
}

#progressbar {
    pointer-events: none;

    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    height:  0.5rem;

    border-radius: 20rem;

    background-color: #fff8;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    overflow: hidden;
    
    transition: opacity 1s ease-in-out;
}

#progressbar > #bar {
    display: flex;
    background-color: rgb(161, 247, 3);

    transition: width 0.1s linear;

}


.shot {
    user-select: none;
    pointer-events: none;

    font-size: 2rem;
    font-weight: 800;

    position: absolute;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;


    transform: translate(-50%, -50%);

    animation: shotAnimation 1s ease-out 0s 1 forwards normal;
}

@keyframes shotAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        opacity: 1;
    }
    90% {
        transform: translate(-50%, -100%) scale(1.25);
    }
    100% {
        transform: translate(-50%, -100%) scale(0);
        opacity: 0;
    }
}



.confetti {
    user-select: none;
    pointer-events: none;

    position: absolute;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    animation: confettiAnimation 4s ease;

    overflow: hidden;
}

@keyframes confettiAnimation {
    0% {
        transform: translateY(0px) scale(0);
        opacity: 1;
    }
    5% {
        left: var(--x);
        top: var(--y);
        transform: translateY(-20px) rotate(0);
        opacity: 1;
    }
    100% {
        left: var(--x);
        top: var(--y);
        transform: translateY(200px) scale(0.5);
        opacity: 0;
    }
}